/* Universal Commands */
*{
    margin: 3px;
    padding:0;  
    background-color: white;
    font-family: Garamond, sans-serif;
}

/* Navigation */
#navBar {
    display: flex;
    display: inline-block;
    width: 90%;
    border: 10px solid #e743b6;
    border-radius: 5px;
    margin: 50px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

a {
    text-decoration: underline;
    color: black;
}

/* Quiz Content */
#quizBody {
    text-align: center;
    padding: 12vh;
}

/* Placeholder Section */
#name{
    width: 10vw;
    height: 2.5vw;
    }
    
/* Button Section */
button {
    font-weight: bold;
    background-color: #cf1080;
    color: rgb(15, 2, 2);
    border-radius: 5px;
    padding: 10px 16px;
    font-family: arial, sans-serif;
    margin: 20px;
}

button:hover {
    background-color: #ff80a4;
    border-radius: 12px;
}

