/* Universal Commands */
*{
    margin: 3px;
    padding:0;  
    background-color: white;
    font-family: Garamond, sans-serif;
}

/* Navigation */
#navBar {
    display: flex;
    display: inline-block;
    width: 90%;
    border: 10px solid #e743b6;
    border-radius: 5px;
    margin: 50px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

a {
    text-decoration: underline;
    color: black;
}